html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.app {
  display: flex;
  width: 100%;
  color: black;
  /* background-color: black; */
}

.topBar {
  height: 62px;
  display: flex;
}
